/*-------- About --------*/

.about {
    margin-top: 57px;
    padding: 8px;

    border: 2px solid #050402;
    border-radius: 32px;
    background-color: $yellow;

    &__wrapper {
        padding: 110px 100px;
        background-color: $beige;
        border: 2px solid #050402;
        border-radius: 26px;
    }

    &__title {
        text-align: center;
    }

    &__text {
        margin-top: 60px;
        line-height: 1.4;
    }
}

@media (max-width: 989px) {

    .about {

        &__wrapper {
            padding: 60px 80px;
        }
    }
}

@media (max-width: 767px) {

    .about {

        &__wrapper {
            padding: 40px;
        }

        &__text {
            margin-top: 20px;
        }
    }
}

@media (max-width: 479px) {

    .about {

        &__wrapper {
            padding: 40px 20px;
        }
    }
}