/*-------- Accordion --------*/

.accordion {

    &__item {
        border-bottom: 2px solid $black;
    }

    &__wrapper {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100px;

        font-family: $font-b;
        font-size: 24px;
        color: $black;
        text-align: left;
    }

    &__button.active {
        color: $red;
    }

    &__button:hover &__pm {
        transform: rotateZ(-180deg);
    }

    &__pm {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;

        width: 30px;
        height: 30px;
        margin-left: 20px;

        border: 2px solid $black;
        border-radius: 50%;

        color: $black;

        position: relative;

        transition: color 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95),
            background-color 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95),
            border-color 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95),
            transform 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    }

    &__pm:before,
    &__pm:after {
        content: "";

        width: 50%;
        height: 2px;
        background-color: currentColor;

        position: absolute;
    }

    &__pm:after {
        transform: rotateZ(90deg);
    }

    &__button.active &__pm {
        background-color: $red;
        border-color: $red;
        color: #ffffff;
        transform: rotateZ(-180deg);
    }

    &__button.active &__pm:after {
        content: none;
    }

    &__content {
        overflow: hidden;
        transition: height 0.3s ease-out;
    }

    &__text {
        line-height: 1.4;
    }

    &__text-wrapper {
        padding-bottom: 32px;
    }
}

@media (max-width: 619px) {

    .accordion {

        &__button {
            height: 80px;
            font-size: 20px;
        }
    }
}

@media (max-width: 479px) {

    .accordion {
        
        &__button {
            height: 75px;
            font-size: 18px;
        }
    }
}