/*-------- Banner --------*/

.banner {
    display: flex;
    align-items: center;
    padding-top: 70px;

    &__column {
        width: 50%;
    }

    &__image {
        width: 100%;
    }

    &__buttons {
        margin-top: 90px;
    }

    &__button {
        width: 200px;
    }

    &__button:not(:first-child) {
        margin-left: 12px;
    }
}

@media (max-width: 989px) {

    .banner {
        padding-top: 50px;

        &__column--1 {
            width: 60%;
        }

        &__column--2 {
            width: 40%;
        }

        &__buttons {
            margin-top: 40px;
        }

        &__button {
            width: 160px;
            height: 50px;
            font-size: 14px;
        }

        &__title {
            font-size: 30px;
        }
    }
}

@media (max-width: 767px) {

    .banner {
        flex-direction: column-reverse;

        &__column--1 {
            width: 100%;
            margin-top: 20px;
            text-align: center;
        }

        &__column--2 {
            width: 70%;
        }

        &__buttons {
            margin-top: 30px;
        
        }
    }
}

@media (max-width: 479px) {

    .banner {

        &__column--2 {
            width: 100%;
        }

        &__title {
            font-size: 25px;
        }
    }
}

@media (max-width: 359px) {

    .banner {

        &__title {
            font-size: 22px;
        }

        &__buttons {
            display: flex;
            justify-content: space-between;
        }

        &__button {
            width: 48%;
        }

        &__button:not(:first-child) {
            margin-left: 0;
        }
    }
}