/*-------- Button --------*/

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    height: 56px;
    padding: 0 20px;

    border-radius: 8px;
    border: 2px solid transparent;

    font-family: $font-b;
    font-size: 14px;
    color: #fff;

    background-color: $blue;

    transition: color 0.2s cubic-bezier(0.19, 1, 0.22, 1), background-color 0.2s cubic-bezier(0.19, 1, 0.22, 1), border-color 0.2s cubic-bezier(0.19, 1, 0.22, 1);

    &:hover {
        background-color: transparent;
        border-color: $blue;
        color: $black;
    }
}

.button {

    &--header {
        padding: 0 46px;

        background-color: $beige;

        color: $black;
        text-transform: uppercase;
    }

    &--header:hover {
        border-color: $beige;
    }
}

.button {

    &--transparent {
        background-color: transparent;
        color: $black;
    }

    &--transparent:hover {
        border-color: $blue;
        color: $blue;
    }
}

@media (max-width: 619px) {

    .button {

        &--header {
            height: 45px;
            padding: 0 20px;
        }
    }
}

@media (max-width: 479px) {

    .button {

        &--header {
            font-size: 12px;
        }
    }
}