/*-------- Input --------*/

.input-wrapper {
    display: flex;
    align-items: center;
    height: 40px;

    background: #FFFFFF;
    border: 1px solid #F4F5F9;
    border-radius: 8px;

    &__input {
        width: 100%;
        height: 100%;
        padding: 0 12px;
        
        font-family: $font-r;
        font-size: 16px;
        color: $black;

        background-color: transparent;
        border: none;
        outline: none;
    }

    &__input::placeholder {
        color: rgba(66, 64, 61, 0.3);
    }

    &__button {
        margin-left: 12px;
        height: 100%;
        padding: 0 20px;
        background: #F4F5F9;
        border-radius: 0px 8px 8px 0px;
        color: $black;
        transition: background-color 0.2s cubic-bezier(0.19, 1, 0.22, 1), color 0.2s cubic-bezier(0.19, 1, 0.22, 1);
    }

    &__button:hover {
        background-color: $blue;
        color: #fff;
    }

    &__max {
        color: $blue;
        text-transform: uppercase;
        transition: color 0.2s cubic-bezier(0.19, 1, 0.22, 1);
    }

    &__max:hover {
        color: rgb(221, 67, 67);
    }
}