/*-------- Marketplace --------*/

.marketplace {
    padding-bottom: 70px;
    padding-top: 57px;
    
    &__wrapper {
        margin-top: 64px;
    }

    &__columns {
        display: flex;
        align-items: flex-start;
    }

    &__columns--header {
        margin-top: 56px;
        align-items: center;
    }

    &__column--1 {
        width: 22%;
    }

    &__column--2 {
        width: 78%;
        padding-left: 40px;
    }

    &__columns--header &__column--2 {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__header {
        margin-bottom: 48px;
    }

    &__header-buttons {
        display: flex;
    }

    &__header-button {
        padding: 8px 21px;

        font-family: $font-sb;
        font-size: 20px;
        color: $black;

        border-radius: 100px;
    }

    &__header-button:not(.active):hover {
        text-decoration: underline;
    }

    &__header-button.active {
        background-color: $red;
        color: $beige;
    }

    &__header-title {
        font-family: $font-rounded;
        font-size: 24px;
        font-weight: 600;
    }

    &__filters {
        display: none;
        flex-shrink: 0;
        margin-left: 12px;
        color: $black;
    }

    &__filters-icon {
        display: block;
    }

    &__filters-icon:hover {
        color: $blue;
    }
}

@media (max-width: 989px) {

    .marketplace {

        &__wrapper {
            margin-top: 40px;
        }

        &__column--1 {
            width: 25%;
        }

        &__column--2 {
            width: 75%;
            padding-left: 20px;
        }

        &__header-button {
            font-size: 16px;
        }

        &__header-title {
            font-size: 20px;
        }

        &__columns--header {
            margin-top: 24px;
        }

        &__header {
            margin-bottom: 24px;
        }
    }
}

@media (max-width: 767px) {

    .marketplace {

        &__columns {
            flex-wrap: wrap;
        }

        &__columns--header &__column--2 {
            flex-direction: column-reverse;
            align-items: flex-start;
            margin-top: 24px;
        }

        &__columns--header &__column--1 {
            display: flex;
            justify-content: space-between;
        }

        &__header-buttons {
            width: 100%;
        }

        &__header-button {
            width: 33%;
        }

        &__header-title {
            margin-top: 32px;
        }

        &__column {
            width: 100%;
        }

        &__column--2 {
            padding-left: 0;
        }

        &__filters {
            display: block;
        }
    }
}

@media (max-width: 619px) {

    .marketplace {
        padding-top: 30px;
        padding-bottom: 42px;

        &__header {
            margin-bottom: 12px;
        }
    }
}

@media (max-width: 479px) {

    .marketplace {

        &__header-buttons {
            justify-content: space-between;
        }

        &__header-button {
            width: auto;
        }
    }
}

@media (max-width: 359px) {

    .marketplace {

        &__header-button {
            font-size: 14px;
        }
    }
}