/*-------- Sidebar --------*/

.sidebar {

    &__title {
        margin-bottom: 8px;
        font-family: $font-sb;
        font-size: 14px;
    }

    &__title--main {
        display: flex;
        align-items: center;

        margin-bottom: 0;
        font-family: $font-sb;
        font-size: 24px;
    }

    &__title--main:before {
        content: "";

        width: 20px;
        height: 20px;
        margin-right: 8px;

        background-image: url(../../images/svg/filter.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__slider {
        margin-top: 16px;
    }

    &__slider-price {
        display: flex;
        justify-content: space-between;
        margin-top: 8px;

        font-family: $font-sb;
        font-size: 14px;
    }

    &__list {
        padding: 24px 0;
        margin-top: 24px;
        margin-bottom: 32px;

        border: 1px solid $black;
        border-left: none;
        border-right: none;
    }

    &__item:not(:first-child) {
        margin-top: 20px;
    }

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__action {
        display: flex;
        align-items: center;

        font-family: $font-sb;
        font-size: 16px;
        color: $black;

        transition: color 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    &__action-icon {
        margin-right: 12px;
        color: $blue;
        transition: inherit;
    }

    span + &__action-icon {
        margin-left: 12px;
        margin-right: 0;
    }

    &__action:hover &__action-icon, &__action:hover {
        color: $red;
    }

    &__action--apply {
        display: none;
    }

    &__row--top {
        display: none;
        margin-bottom: 32px;
    }
}

@media (max-width: 767px) {

    .sidebar {
        width: 100%;
        height: 100%;

        padding: 20px 20px 30px 20px;

        background-color: $beige;

        position: fixed;
        left: -100%;
        top: 0;
        z-index: 20;

        overflow: auto;

        transition: left 0.2s cubic-bezier(0.19, 1, 0.22, 1);

        &.opened {
            left: 0;
        }

        &__action--apply {
            display: flex;
        }

        &__row--top {
            display: flex;
        }

        &__list {
            margin-bottom: 24px;
        }
    }
}