/*-------- Stats --------*/

.stats {
    background-image: url(../../images/stats/bg.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

@media (max-width: 767px) {

    .stats {
        background-image: none;
    }
}