/*-------- Title --------*/

.title {
    font-size: 40px;
    color: $blue;
    line-height: 1.3;
    text-align: center;

    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-transform: uppercase;
}

@media (max-width: 767px) {

    .title {
        font-size: 35px;
    }
}

@media (max-width: 479px) {

    .title {
        font-size: 30px;
    }
}