/*-------- Token --------*/

.token {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;

    margin-top: 93px;
    padding-bottom: 100px;

    &__image-wrapper {
        width: 48%;
        position: relative;
    }

    &__image-wrapper:before {
        content: "";

        width: 100%;
        height: 100%;

        position: absolute;

        background: #F2A848;
        border: 2px solid #050402;
        transform: rotate(5deg);
    }

    &__image {
        display: block;
        width: 100%;
        z-index: 2;
        position: relative;
    }

    &__column {
        width: 52%;
        padding-left: 7.3vw;
    }

    &__title {
        margin-bottom: 20px;

        font-family: $font-spongy;
        font-size: 40px;
        color: $blue;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }

    &__row {
        display: flex;
        align-items: center;
    }

    &__row--2 {
        justify-content: space-between;
        margin-top: 32px;
    }

    &__link {
        display: flex;
        align-items: center;

        font-family: $font-sb;
        font-size: 16px;
        color: $black;
        text-decoration: underline;
    }

    &__link-icon {
        margin-right: 8px;
    }

    &__badge {
        margin-left: 12px;
        margin-right: 12px;
    }

    &__text {
        margin-top: 28px;

        font-size: 18px;
        line-height: 1.7;
    }

    &__button {
        height: 56px;
        padding: 0 60px;
        margin-left: 20px;
    }

    &__tabs {
        margin-top: 32px;
        padding-top: 32px;
        border-top: 1px solid $black;
    }

    &__tabs-buttons {
        display: flex;
        align-items: center;
        padding: 8px;

        height: 48px;
        border: 1px solid #000000;
        border-radius: 100px;
    }

    &__tabs-button {
        display: flex;
        align-items: center;

        height: 100%;
        padding: 6px 18px;

        border-radius: 100px;

        font-family: $font-sb;
        font-size: 16px;
        color: $black;

        transition: background-color 0.2s cubic-bezier(0.165, 0.84, 0.44, 1), color 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    &__tabs-button.active {
        background-color: $red;
        color: $beige;
    }

    &__tabs-button:not(.active):hover {
        text-decoration: underline;
    }

    &__tabs-wrapper {
        padding-top: 32px;
    }

    &__tabs-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        margin-bottom: -20px;
    }

    &__tabs-item {
        width: 33%;
        margin-bottom: 20px;
    }

    &__tabs-name {
        font-size: 16px;
    }

    &__tabs-value {
        margin-top: 5px;
        font-family: $font-sb;
        font-size: 20px;
        line-height: 1.3;
    }
}

@media (max-width: 1099px) {

    .token {

        &__button {
            padding: 0 40px;
        }
    }
}

@media (max-width: 989px) {

    .token {

        &__image-wrapper {
            width: calc(100% - 63px);
            margin-left: auto;
            margin-right: auto;
        }

        &__column {
            width: 100%;
            padding-left: 0;
            margin-top: 60px;
        }

        &__tabs-buttons {
            justify-content: space-between;
        }
    }
}

@media (max-width: 619px) {

    .token {
        margin-top: 39px;
        padding-bottom: 30px;

        &__column {
            margin-top: 40px;
        }
    }
}

@media (max-width: 479px) {

    .token {

        &__image-wrapper {
            width: calc(100% - 35px);
        }

        &__button {
            height: 48px;
            padding: 0 19px;
            font-size: 14px;
        }

        &__text {
            margin-top: 16px;
            font-size: 14px;
            line-height: 1.6;
        }

        &__row:not(.token__row--2) {
            flex-wrap: wrap;
        }

        &__link {
            margin-top: 10px;
        }

        &__title {
            margin-bottom: 16px;
            font-size: 26px;
        }

        &__badge {
            padding: 8px 10px;
            margin-left: 8px;
            margin-right: auto;

            font-size: 14px;
        }

        &__price {
            padding: 6px 10px;
            font-size: 14px;
        }

        &__row--2 {
            margin-top: 18px;
        }

        &__tabs-button {
            justify-content: center;
            width: 25%;
            padding: 6px 14px;
            font-size: 14px;
        }

        &__tabs {
            margin-top: 24px;
            padding-top: 24px;
        }

        &__tabs-item {
            margin-right: 10px;
        }

        &__tabs-wrapper {
            padding-top: 20px;
        }

        &__tabs-buttons {
            padding: 6px;
            height: 40px;
        }

        &__tabs-name {
            font-size: 14px;
        }

        &__tabs-value {
            margin-top: 3px;
            font-size: 18px;
        }
    }
}

@media (max-width: 359px) {

    .token {

        &__tabs-button {
            padding: 5px;
            font-size: 12px;
        }

        &__tabs-buttons {
            padding: 4px;
            height: 35px;
        }

        &__tabs-value {
            font-size: 16px;
        }

        &__button {
            height: 40px;
            padding: 0 10px;
            font-size: 12px;
        }
    }
}