/*-------- Fonts --------*/
$font-r: "AvertaCY-Regular";
$font-sb: "AvertaCY-Semibold";
$font-b: "AvertaCY-Bold";
$font-rounded: "PP-Pangram-Sans-Rounded-Regular";
$font-rounded-bold: "PP-Pangram-Sans-Rounded-Bold";
$font-spongy: "Spongy-Solid";

/*-------- Colors --------*/
$orange: #F2A848;
$blue: #4E97B9;
$red: #CB352E;
$black: #050402;
$beige: #F9EDCA;
$yellow: #EBCB62;
$green: #3CA839;

@import './reset.scss';
@import './components/components.scss';